<html>
<head>
<style>
body {
  background-image: url('https://media.istockphoto.com/photos/gift-card-with-tied-bow-picture-id1289951310?b=1&k=20&m=1289951310&s=170667a&w=0&h=W_ucWHbjw_tQEZbYySk5ykV-JfaUo4cCRCPGfkTbIIQ=');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

</head>

<div class = "text-center">
<h1 style="font-family: Fantasy "> Welcome to Gift Card App!</h1>
<%= link_to 'Register', signup_path, class: "btn btn-secondary" %>
<%= link_to 'Login', logintype_path, class: "btn btn-secondary" %>
</div>
</html>